
@media screen and (max-width: 1199px) {
    .home {
        height: 777px;
        background-position: center;
    }
}

@media screen and (max-width: 991px) {
    .none_menu {
        display: none;
    }
    .burger_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
    .home_content {
        padding-right: 20px;
        line-height: 19px;
        align-items: center;
    }
}
@media screen and (max-width: 767px) {
    .home_title {
        padding-top: 120px;
        font-size: 60px;
        line-height: 75px;
    }
    .home {
        height: 731px;
    }
    .home_title {
        font-size: 50px;
    }
    .home {
        background-position: center;
    }
    .border_right_none {
        border-right: 0;
    }
    .call_me  {
        font-size: 30px;
    }
}

@media screen and (max-width:576px) {
    .slider {
        height: 270px;
    }
    .contacts {
        justify-content: center;
    }
    .footer_txt {
        padding-left: 14px;
    }
    .footer_title {
        padding: 10px 0 5px;
        font-size: 35px;
    }
    .icon_footer {
        margin-top: 0;
    }
    .slick-initialized {
        width: 360px;
        margin: 0 auto;
    }
    .maap {
        height: 350px;
    }
    .write_whatsapp a {
        font-size: 14px;
    }
    .footer_block {
        text-align: left;
    }
    .footer_phone {
        font-size: 22px;
    }
    .home_title {
        font-size: 48px;
        line-height: 60px;
    }
}
@media screen and (max-width: 504px) {
    .call_me {
        font-size: 25px;
    }
    .hh {
        padding-top: 20px;
    }
    .line {
        width: 350px;
    }
    .services_title {
        font-size: 21px;
    }
    .services_title span {
        font-size: 34px;
    }
}
@media screen and (max-width: 444px) {
    .home {
        height: 712px;
    }
}
@media screen and (max-width: 430px) {
    .services_title {
        font-size: 18px;
    }
    .services_title span {
        font-size: 30px;
    }
    .title_text {
        font-size: 32px;
    }
    .home_title {
        font-size: 42px;
    }
}
@media screen and (max-width:412px) {
    .slider {
        height: 230px;
    }
    .slick-initialized {
        width: 300px;
    }
    .maap {
        height: 250px;
    }
    .line {
        width: 265px;
    }
    .portfolio_header {
        font-size: 35px;
    }
}
@media screen and (max-width: 408px) {
    .write_whatsapp a {
        font-size: 13px;
    }
    .burger_menu {
        margin-left: 4px;
    }
    .write_whatsapp {
        padding: 2px 4px;
    }
    .call_master {
        font-size: 25px;
    }
    .zz {
        padding-top: 20px;
    }
}
@media screen and (max-width: 356px) {
    .slider {
        height: 220px;
    }
    .slick-initialized {
        width: 280px;
    }
    .portfolio_header {
        font-size: 30px;
    }
    .call_master {
        font-size: 20px;
    }
}
@media screen and (max-width: 350px) {
    .home_title {
        font-size: 38px;
    }
}
@media screen and (max-width:335px) {
    .slider {
        height: 200px;
    }
    .slick-initialized {
        width: 260px;
    }
}